<html ng-app="">
<head>
  <meta charset="utf8" />
  <title>AngularJS Tutorial</title>
  <script type="text/javascript" src="https://unpkg.com/core-js/client/shim.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/zone.js@0.8.5?main=browser"></script>
  <script type="text/javascript" src="https://unpkg.com/systemjs@0.19.47/dist/system.src.js"></script>
  <script type="text/javascript" src="systemjs.config.js"></script>
  <script type="text/javascript">
  	System.import('./app/main')
  </script>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>
  <my-app>Loading...</my-app>
  <!--  input type="text" ng-model="search" / -->
   <!-- p>Du suchst gerade nach: {{search}}</p  -->
  <!--  script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script  -->
</body>
</html>