<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="copy">
<div id="footer" class="prefix_1 suffix_1">
            <div id="footer-region" class="region container_12">   <div class="region region-footer">
    <div id="block-menu-menu-de-footer-about-us" class="block block-menu collapsiblock-processed">

    
  <div class="content">
    <ul class="menu"><li class="first leaf" title="Über uns"><span class="nolink" title="Über uns">Über uns</span></li>
<li class="leaf" title="CGI in Deutschland"><a href="/unternehmen" title="CGI in Deutschland">Unternehmen</a></li>
<li class="leaf" title="Management Team CGI Deutschland"><a href="/management" title="Management Team CGI Deutschland">Management Team</a></li>
<li class="leaf" title="Standorte von CGI in Deutschland"><a href="/offices" title="Standorte von CGI in Deutschland">Standorte</a></li>
<li class="leaf" title="Corporate Governance"><a href="http://www.cgi.com/en/investors/corporate-governance" title="Corporate Governance">Corporate Governance</a></li>
<li class="last leaf" title="Corporate Social Responsibility"><a href="http://www.cgi.com/en/corporate-social-responsibility" title="Corporate Social Responsibility">Corporate Social Responsibility</a></li>
</ul>  </div>
</div>
<div id="block-menu-menu-de-footer-investor" class="block block-menu collapsiblock-processed">

    
  <div class="content">
    <ul class="menu"><li class="first leaf" title="Investor Relations"><span class="nolink" title="Investor Relations">Investor Relations</span></li>
<li class="leaf" title="Investors Home"><a href="http://www.cgi.com/en/investors" title="Investors Home">Investors</a></li>
<li class="leaf" title="Financial Reports"><a href="http://www.cgi.com/en/investors/financial-reports" title="Financial Reports">Financial Reports</a></li>
<li class="leaf" title="Annual Reports"><a href="http://www.cgi.com/en/investors/annual-reports" title="Annual Reports">Annual Reports</a></li>
<li class="leaf" title="Investment Profile"><a href="http://www.cgi.com/en/investor/investment-profile" title="Investment Profile">Investment Profile</a></li>
<li class="leaf" title="Transfer Agents"><a href="http://www.cgi.com/en/investors/contacts" title="Transfer Agents">Transfer Agents</a></li>
<li class="last leaf" title="Investor Relations Kontakte"><a href="http://www.cgi.com/en/investors/contacts" title="Investor Relations Kontakte">IR Contacts</a></li>
</ul>  </div>
</div>
<div id="block-menu-menu-de-footer-careers" class="block block-menu collapsiblock-processed">

    
  <div class="content">
    <ul class="menu"><li class="first leaf" title="Karriere"><span class="nolink" title="Karriere">Karriere</span></li>
<li class="leaf active-trail" title="Karriere"><a href="/karriere" title="Karriere" class="active-trail active">Karriere</a></li>
<li class="leaf" title="Arbeiten bei CGI"><a href="/karriere/arbeiten-bei-cgi" title="Arbeiten bei CGI">Arbeiten bei CGI</a></li>
<li class="last leaf" title="Stellenangebote"><a href="https://cgi.njoyn.com/CGI/xweb/xweb.asp?page=joblisting&amp;CLID=21001&amp;lang=4&amp;CountryId=DE" title="Stellenangebote" target="_blank">Stellenangebote</a></li>
</ul>  </div>
</div>
<div id="block-menu-menu-de-footer-media-cen" class="block block-menu collapsiblock-processed">

    
  <div class="content">
    <ul class="menu"><li class="first leaf" title="Media Center"><span class="nolink" title="Media Center">Media Center</span></li>
<li class="leaf" title="Media Center Überblick"><a href="/mediacenter" title="Media Center Überblick">Überblick</a></li>
<li class="leaf" title="News"><a href="http://www.de.cgi.com/news" title="News">News</a></li>
<li class="leaf" title="Studien und White Paper"><a href="http://www.de.cgi.com/view/whitepaper" title="Studien und White Paper">White Paper</a></li>
<li class="leaf" title="Broschüren"><a href="http://www.de.cgi.com/view/brochure" title="Broschüren">Broschüren</a></li>
<li class="leaf" title="Case Studies und Referenzen"><a href="http://www.de.cgi.com/case-study" title="Case Studies und Referenzen">Case Studies</a></li>
<li class="leaf" title="Videos"><a href="/videos" title="Videos">Videos</a></li>
<li class="last leaf" title="Events"><a href="http://www.de.cgi.com/events" title="Events">Events</a></li>
</ul>  </div>
</div>
<div id="block-nodesinblock-8" class="block block-nodesinblock collapsiblock-processed">

    
  <div class="content">
    <div class="nodesinblock first odd" id="nodesinblock-21789"><div id="node-21789" class="node node-cgi-custom-block">

  
      
  
  <div class="content clearfix">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><div class="last">
<h3>Business &amp; IT Consulting, Systemintegration<br /> und Outsourcing Services.</h3>
<div id="followUs"><span>Folgen Sie uns auf diesen Kanälen</span>
<ul>
<li><a title="Facebook" href="https://www.facebook.com/CGIDeutschland" target="_blank"><img src="/sites/default/files/images/ic_facebook.png" alt="Facebook" /></a></li>
<li><a title="Twitter" href="https://twitter.com/cgi_de" target="_blank"><img src="/sites/default/files/images/ic_twitter.png" alt="Twitter" /></a></li>
<li><a title="Xing" href="https://www.xing.com/companies/cgi" target="_blank"><img src="/sites/default/files/images/ic-xing.png" alt="Xing" /></a></li>
<li><a title="LinkedIn" href="https://www.linkedin.com/company/cgi" target="_blank"><img src="/sites/default/files/images/ic_linkedin.png" alt="LinkedIn" /></a></li>
<li><a title="Google+" href="https://plus.google.com/112738454795984877578" target="_blank"><img src="/sites/default/files/images/ic_googleplus.png" alt="google+" /></a></li>
<li><a title="YouTube" href="https://www.youtube.com/user/LogicaDeutschlandTV" target="_blank"><img src="/sites/default/files/images/ic_youtube.png" alt="YouTube" /></a></li>
<li><a target="_blank" href="http://www.de.cgi.com/news-feed.xml" title="RSS news feed"><img src="/sites/default/files/images/ic_rss.png" alt="RSS" /></a></li>
</ul>
</div>
</div></div></div></div>  </div>
 <div class="clearfix">
          <div class="links"></div>
    
      </div>
</div>
</div><div class="nodesinblock last even" id="nodesinblock-21561"><div id="node-21561" class="node node-cgi-custom-block">

  
      
  
  <div class="content clearfix">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><div class="grid_12 bottom_links">
    <p><span>© CGI Deutschland</span> | <a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a> | <a href="/offices">Standorte</a></p>
</div></div></div></div>  </div>
 <div class="clearfix">
          <div class="links"></div>
    
      </div>
</div>
</div>  </div>
</div>
  </div>
 </div>
      
        </div>
        
        
 </footer>       
</body>

</html>