<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">

<title>League Server (CGI Microservices Demo)</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" id="Viewport" name="viewport" />
<link type="text/css" rel="stylesheet" href="http://www.de.cgi.com/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://www.de.cgi.com/sites/default/files/css/css_nXIuA3YEiW31lJdMWbXQ1UPH-BOfP96HlxNQfYach0k.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://www.de.cgi.com/sites/default/files/css/css_XpSqY8zvSTaFjYeaV_w-EtdBIN-Aqvzoq-3yTJK8KaU.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://www.de.cgi.com/sites/default/files/css/css_5EvRE6Ra66nDJk_TMQeXHCtf3fscrcGyrbhsamGpG4I.css" media="all" />
<!-- Bootstrap -->
<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->
</head>
<body th:fragment="copy" class="container">


<!--  ab hier kopiert -->
<div id="site-header" class="clearfix">
   <!--Branding-->
   <div id="branding" class="clearfix container_12">
    <div class="grid_4">
		            <span id="logo"><a href="/" rel="home"><img src="http://www.de.cgi.com/sites/all/themes/cgi/logo.png" alt="Home" title="Home" /></a></span>
                                        <div id="site-slogan">Experience the commitment<sup>®</sup></div>
                </div>
    <div class="grid_8">
     <div id="meta-nav" class="">   <div class="region region-highlighted">
    <div id="block-menu-df15f4a7b917f03df82afd48b808ca59" class="block block-menu collapsiblock-processed">

    
  <div class="content">
    <ul class="menu"><li class="first last leaf" title="Kontakt"><a href="http://www.de.cgi.com/contact-us/about" title="Kontakt">Kontakt</a></li>
</ul>  </div>
</div>
<div id="block-cgi-country-selector-cgi-country-selector-block-name" class="block block-cgi-country-selector collapsiblock-processed">

    
  <div class="content">
    <ul class="country-widget"><li><a class="current-country" href="#">Deutschland</a><ul class="country-selector"><li class="fltlt">
                                   <a title="Global site" hreflang="en" href="http://www.cgi.com">Global site</a></li>
                                   <li class="fltrt"><a title="All locations" hreflang="en" href="/offices">All locations</a></li>
                                   <li class="border-top"><strong>Visit our country sites</strong></li>
                                   <ul class="fltlt"><li><a title="Australia" href="http://www.cgi.com.au">Australia</a></li>
                                   <li><a title="Belgium" href="http://www.cgi.com/belgium">Belgium</a></li>
                                   <li><a title="Brasil" href="http://www.cgi.com/brasil">Brasil</a></li>
                                   <li><a title="Canada" href="http://www.cgi.com/canada">Canada</a></li>
                                   <li><a title="Česká Republika" href="http://www.cgi.com/ceska-republika">Česká Republika</a></li>
                                   <li><a title="Danmark" href="http://www.cgi.dk">Danmark</a></li>
                                   <li class="active">Deutschland</li><li><a title="Estonia" href="http://www.cgi.ee">Estonia</a></li>
                                   <li><a title="España" href="http://www.cgiespana.es">España</a></li>
                                   <li><a title="Finland" href="http://www.cgi.fi">Finland</a></li>
                                   <li><a title="France" href="http://www.cgi.fr">France</a>
                                   </li><li><a title="India" href="http://www.cgi.com/india">India</a>
                                   </li><li><a title="Italy" href="http://www.cgi.com/cgiitaly">Italy</a></li>
                                   <li><a title="Luxembourg" href="http://www.cgi.com/luxembourg">Luxembourg</a></li>
                                   <li><a title="Magyarország" href="http://www.cgi.com/magyarorszag">Magyarország</a></li></ul>
    <ul class="fltrt"><li><a title="Malaysia" href="http://www.cgi.com/malaysia">Malaysia</a></li>
    <li><a title="Maroc" href="http://www.cgi.com/maroc">Maroc</a></li>
    <li><a title="Nederland" href="http://www.cginederland.nl">Nederland</a></li>
    <li><a title="Norge" href="http://www.cginorge.no">Norge</a></li>
    <li><a title="Philippines" href="http://www.cgi.com/philippines">Philippines</a></li><li><a title="Polska" href="http://www.cgi.com/polska">Polska</a></li>
    <li><a title="Portugal" href="http://www.cgi.com.pt">Portugal</a></li><li><a title="Scotland" href="http://www.cgi-group.co.uk/scotland">Scotland</a></li>
    <li><a title="Slovensko" href="http://www.cgi.com/slovensko">Slovensko</a></li><li><a title="Sverige" href="http://www.cgi.se">Sverige</a></li>
    <li><a title="Switzerland" href="//www.cgi.com/switzerland">Switzerland</a></li>
    <li><a title="United Kingdom" href="http://www.cgi-group.co.uk">United Kingdom</a></li>
    <li><a title="United States" href="http://www.cgi.com/us">United States</a></li>
    <li><a title="Wales" href="http://www.cgi-group.co.uk/wales">Wales</a></li></ul></ul></li>  </ul></div>
</div>
<div id="block-locale-language-content" class="block block-locale collapsiblock-processed">

    
  <div class="content">
    <ul class="language-switcher-locale-url"><li class="de first last active">
       <a href="/karriere" class="language-link active" xml:lang="de">Deutsch</a></li>
	</ul>  
   </div>
	</div>
	<div id="block-search-form" class="block block-search collapsiblock-processed">

    
  <div class="content">
    <form action="/karriere" method="post" id="search-block-form" accept-charset="UTF-8" novalidate="novalidate">
    <div><div class="container-inline">
        <h2 class="element-invisible">Search form</h2>
	    <div class="form-item form-type-textfield form-item-search-block-form">
			  <label class="element-invisible" for="edit-search-block-form--2">Suche </label>
			 <input title="Enter the terms you wish to search for." onblur="if (this.value == '') {this.value = 'SUCHE';}" onfocus="if (this.value == 'SUCHE') {this.value = '';}" type="text" id="edit-search-block-form--2" name="search_block_form" value="SUCHE" size="15" maxlength="128" class="form-text" />
		</div>
		<div class="form-actions form-wrapper" id="edit-actions">
			<input type="submit" id="edit-submit" name="op" value="Suche" class="form-submit" />
		</div>
			<input type="hidden" name="form_build_id" value="form-Go2yX2lCvjfzBj42xqGFg_VGq6u9VcU-aLXu1t9x2eQ" />
			<input type="hidden" name="form_id" value="search_block_form" />
		</div>
      </div>
	</form>  
</div>
</div>
  </div>
 </div>
    </div>
   </div>
   <!--End Branding-->
  </div>


<!--  <div style="font-size: 80%; text-align: right;">
		<a href="http://run.pivotal.io">Powered by CloudFoundry </a>
	</div>-->
</body>
</html>
